<!-- Client.HTML for Assignment 1
19323238
Rohan Taneja
-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>🌞 mausam - a simple weather app</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-resource"></script>
        <style>
            table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            }
            th, td {
            padding: 5px;
            text-align: left;
            }
        </style>
    </head>
    <h1>🌞 mausam - a simple weather app</h1>
    (weather forecast for next 5 days)<br><br>
    <div id="app">
        Enter the city you wish to visit: 
        <input type="text" v-model="message" v-on:keyup.enter="retrieve" placeholder="e.g. Dublin, IE">
        <button v-on:click="retrieve">Retrieve</button>
        <br>
        <br> Umbrella Check: {{umbrellaCheck}}
        <br> Packing Suggestions: {{weatherCheck}} - pack accordingly
        <br>
        <br> <b>Note</b>: The following information displayed is average of the daily parameters obtained.<br><br>
        <table id="summary">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Temperature</th>
                    <th>Wind speed</th>
                    <th>Rain fall</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in items">
                    <td>{{item.date}}</td>
                    <td>{{item.dayTemp}} °C</td>
                    <td>{{item.dayWind}} m/s</td>
                    <td>{{item.dayRain}} mm</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>
        var app = new Vue({
        	el: '#app',
        	data: {
        		message: '',
        		umbrellaCheck: "",
        		weatherCheck: "",
        		items: []
        	},
        	methods: {
        		retrieve: function() {
        			city = this.message
        			let url = "http://localhost:8008/" + city
        			this.$http.get(url).then(res => {
        				this.response = JSON.parse(res.bodyText)
        				if(this.response.rainCheck == true) {
        					this.umbrellaCheck = "Carry an umbrella ☔✔️"
        				} else {
        					this.umbrellaCheck = "Way to go, no rain ⛅❌"
        				}
                        if(this.response.tempAvg < 10) {
        					this.weatherCheck = "COLD weather 🥶"
        				} else if(this.response.tempAvg > 10 && this.response.tempAvg < 20) {
        					this.weatherCheck = "WARM weather 🌡️"
        				} else {
        					this.weatherCheck = "HOT weather 🥵"
        				}
        				this.items = this.response.summary
        			})
        		}
        	}
        })
    </script>